<div class="container loginContainer">
  <div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6">
      <div class="center-form panel">
        <div class="panel-body">
          <h2 class="text-center">Log in</h2>
          <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
            <span class="ion-social-googleplus"></span>Sign in with Google
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3"></div>
  </div>
</div>