<div ng-controller="VideoCtrl">
  <div id="wrapper" class="text-center">
    <div class="btnGroup">
      <span><a href="#/videocall" class="btn btn-success" id="start-call" ng-click="getVideoByName('duck971')">Start call</a></span>
      <span><a href="#/videocall" class="btn btn-danger" id="end-call" ng-click="endVideo()">End call</a></span>
    </div>
    <ot-layout props="{animate:true}">
      <ot-subscriber style="width: 792px; height: 594px;" ng-repeat="stream in streams"
        stream="stream"
        session="session"
        props="{style: {nameDisplayMode: 'off'}}">
      </ot-subscriber>
    </ot-layout>
  </div>
</div>
