<!DOCTYPE html>
<html>
<head>
  <title>Hippo-Frontend</title>

  <!-- STYLES -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <style type="text/css">
    .navbar-header img {
      height: 30px;
      width: 30px;
      display: inline-block;
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 22px;
      margin-right: 12px;
      transform: scale(1.7);
    }
  </style>

</head>


<body ng-app="myApp">
  <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top">
            <div class='container-fluid'>
                  <!-- Brand and toggle get grouped for better mobile display -->
              <div class='navbar-header'>
                <img src='hippo.png'/>
                <a class='navbar-brand page-scroll bold' href='/#/home'>Hippo-Frontend</a>
              </div>
              <ul class="nav navbar-nav">
                <li ng-if="isAuthenticated()"><a href="/#/profile">Profile</a></li>
              </ul>
              <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
                <li><a href="/#/login">Login</a></li>
                <li><a href="/#/signup">Sign up</a></li>
              </ul>
              <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
                <li><a href="/#/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row contentContainer">
        <div class="col-md-12 col-sm-12">
          <ng-view></ng-view>
        </div>
      </div>
    </div>





<!--   <div ng-controller="VideoController">
      <ot-layout props="{animate:true}">
          <ot-subscriber ng-repeat="stream in streams"
              stream="stream"
              props="{style: {nameDisplayMode: 'off'}}">
          </ot-subscriber>
          <ot-publisher id="publisher"
              props="{style: {nameDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30}">
          </ot-publisher>
      </ot-layout>
  </div> -->

  <div ui-view></div>

  <!-- THIRD PARTY -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="node_modules/opentok-layout-js/opentok-layout.js"></script>
  <script src="node_modules/opentok-angular/opentok-angular.js"></script>
  <script src="node_modules/satellizer/dist/satellizer.js"></script>
  <!-- <script src="app.js"></script> -->

  <!-- APPLICATION CODE -->
  <script src="/app.js"></script>
  <script src="/controllers/login.js"></script>
  <script src="/controllers/logout.js"></script>
  <script src="/controllers/navbar.js"></script>

</body>
</html>
