<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <!-- STYLES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <!-- BOOTSTRAP SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- SCRIPTS -->
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <script src="node_modules/opentok-layout-js/opentok-layout.js" type="text/javascript" charset="utf-8"></script>
    <script src="node_modules/opentok-angular/opentok-angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>

    <title>Hippo-Frontend</title>

    <!-- DISGUSTING -->
    <style type="text/css">
      .navbar-header img {
        height: 30px;
        width: 30px;
        display: inline-block;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 22px;
        margin-right: 12px;
        transform: scale(1.7);
      }
      .contentContainer {
        padding-top: 60px;
      }
      ot-subscriber {
        /*margin: 40px;*/
      }
      .btnGroup {
        padding: 40px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class='container-fluid'>
                  <!-- Brand and toggle get grouped for better mobile display -->
              <div class='navbar-header'>
                <img src='hippo.png'/>
                <a class='navbar-brand page-scroll bold' href='#/home'>Hippo-Frontend</a>
              </div>
                  <!-- /.navbar-collapse -->
              <!-- <a class="navbar-brand" href="#">
                <img src="hippo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Hippo-Frontend
              </a> -->
            </div>
          </nav>
        </div>
      </div>
      <div class="row contentContainer">
        <div class="col-md-12 col-sm-12">
          <ng-view><span class="ng-scope"></span></ng-view>
        </div>
      </div>
    </div>
  </body>

  <script type="text/ng-template" id="index.html">
    <div ng-controller="UserController">
      <h1>Upcomming Calls</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Session Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="session in userSessions | orderBy:'session.datetime'">
            <td>{{session.datetime | date:'MMMM dd HH:mm:ss'}}</td>
            <td><a href="#/videocall">{{session.name}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </script>

  <script type="text/ng-template" id="video.html">
    <div ng-controller="VideoController">
      <div id="wrapper" class="text-center">
        <div class="btnGroup">
          <span><a href="#/videocall" class="btn btn-success" id="start-call" ng-click="getVideo()">Start call</a></span>
          <span><a href="#/videocall" class="btn btn-danger" id="end-call" ng-click="endVideo()">End call</a></span>
		  <span><button class="btn btn-danger" id="toggle-video" ng-click="toggleVideo()">Toggle Video</button></span>
        </div>
        <!-- FROM DEMO -->
        <!-- <ot-layout props="{animate:true}">
            <ot-subscriber ng-repeat="stream in streams"
                stream="stream"
                props="{style: {nameDisplayMode: 'off'}}">
            </ot-subscriber>
            <ot-publisher id="publisher"
                props="{style: {nameDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30}">
            </ot-publisher>
        </ot-layout> -->
        <!-- END DEMO -->
        <ot-layout props="{animate:true}">
          <ot-subscriber style="width: 792px; height: 594px;" ng-repeat="stream in streams"
            stream="stream"
            session="session"
            props="{style: {nameDisplayMode: 'off'}}">
          </ot-subscriber>
        </ot-layout>
        <div id="facePublisher" ng-if="publishing" draggable="true">
          <ot-publisher style="width: 792px; height: 594px;" id="facePublisher">
          </ot-publisher>
          <mute-video publisher-id="facePublisher" mute-publisher></mute-video>
        </div>     
      </div>
    </div>
  </script>
</html>
