<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-7 col-sm-7">
      <h1 class='header'>HIPAA-compliant Video Conferencing</h1>
      <ul>
        <li class="txt">Call scheduling and management made easy.</li>
        <li class="txt">Fusce tempus dolor sed tellus mattis ultrices. Nullam ut ipsum leo. Aenean a quam purus.</li>
        <li class="txt">Designed for patients and doctors, used by anyone.</li>
      </ul>
      <p class='txt'>Fusce tempus dolor sed tellus mattis ultrices. Nullam ut ipsum leo. Aenean a quam purus. Nunc mollis tellus ipsum, vel pulvinar mi vehicula ac. Aenean scelerisque elit eget metus maximus rhoncus. Curabitur volutpat odio id gravida cursus. Aliquam tristique pellentesque malesuada. Praesent ultrices in mauris at commodo. Fusce blandit molestie ante quis rhoncus. Mauris lacus nibh, posuere in urna eu, mattis posuere est. Cras nec blandit sem. Donec mi nisi, posuere eu ante sit amet, tincidunt iaculis dolor.</p>
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
  <div class="row spaced">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-7 col-sm-7">
      <button class="btn-standard btn-hop btn-deep-blue" ng-click="authenticate('google')">
        <i class="fa fa-google" aria-hidden="true"></i> Sign Up with Google
      </button>
      <button class="btn-standard btn-hop">
        Learn More
      </button>
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
