<div class="container spaced">
  <div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <h1 class="header">Upcoming Calls</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><h5>Start Time</h5></th>
            <th><h5>End Time</h5></th>
            <th><h5>Participants</h5></th>
            <th><h5>Session Name</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="session in userSessions | orderBy:'session.startTime'">
          <!-- check active data -->
            <td>{{session.startTime | date:'MMMM dd HH:mm'}}</td>
            <td>{{session.endTime | date:'MMMM dd HH:mm'}}</td>
            <td>{{session.participants}}</td>
            <td>{{session.name}}</td>
            <td><a class="btn-standard btn-hop" ng-click="setSessionName(session.name)" ui-sref="video({session_name: session.name})">Join Call</a></td>
          </tr>
        </tbody>
      </table>
      <div class="btnContainer text-center">
      <a href="/#/schedule" class="btn-standard btn-hop" role="button">Schedule A Call</a>
      </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
  </div>
</div>

<script type="text/javascript">
  footer = document.querySelector("footer")
  footer.style.display = ""
</script>