<!DOCTYPE html>
<html>
<head>
  <title>Hippo-Frontend</title>

  <link rel="icon" type="image/x-icon" href="favicon.ico"/>

  <!-- STYLES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <!-- <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css"/> -->
  <link rel="stylesheet" href="/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="assets/css/select2.min.css"/>
  <link rel="stylesheet" href="assets/css/style.css"/>
</head>


<body ng-app="myApp">
  <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top">
            <div class='container-fluid'>
                  <!-- Brand and toggle get grouped for better mobile display -->
              <div class='navbar-header'>
                <img src='hippo.png'/>
                <a class='navbar-brand page-scroll bold' href='/#/home'>Hippo-Frontend</a>
              </div>
              <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
                <li><a href="/#/signup">Sign up</a></li>
                <li><a href="/#/login">Login</a></li>
              </ul>
              <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
                <li ng-if="isAuthenticated()"><a href="/#/user">Sessions</a></li>
                <li ng-if="isAuthenticated()"><a href="/#/profile">Profile</a></li>
                <li><a href="/#/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <!-- <div ui-view></div> -->
      </div>
    </div>
    <div ui-view></div>


  <!-- THIRD PARTY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <script type="text/javascript" src="/node_modules/moment/min/moment.min.js"></script>
  <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src="/node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="assets/js/select2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <!-- <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
  <script src="/opentok-layout.min.js"></script>
  <script src="/opentok-angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.js"></script>

  <!-- APPLICATION CODE -->
  <script src="/app.js"></script>
  <script src="/services/userVideoService.js"></script>
  <script src="/services/userService.js"></script>
  <script src="/services/user.js"></script>
  <script src="/services/videoService.js"></script>
  <script src="/services/socketService.js"></script>
  <script src="/controllers/login.js"></script>
  <script src="/controllers/logout.js"></script>
  <script src="/controllers/navbar.js"></script>
  <script src="/controllers/videoCtrl.js"></script>
  <script src="/controllers/userCtrl.js"></script>
  <script src="/controllers/notificationsCtrl.js"></script>
   <script src="/directives/dateTimePicker.js"></script>
  <script src="/directives/displayNotifications.js"></script>

</body>
</html>
