<!DOCTYPE html>
<html>
<head>
  <title></title>

<!-- STYLES -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">


<!-- SCRIPTS -->
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
  <script src="node_modules/opentok-layout-js/opentok-layout.js" type="text/javascript" charset="utf-8"></script>
  <script src="node_modules/opentok-angular/opentok-angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="app.js" type="text/javascript" charset="utf-8"></script>
</head>


<body ng-app="myApp">
  <div ng-controller="VideoController">
      <ot-layout props="{animate:true}">
          <ot-subscriber ng-repeat="stream in streams"
              stream="stream"
              props="{style: {nameDisplayMode: 'off'}}">
          </ot-subscriber>
          <ot-publisher id="publisher"
              props="{style: {nameDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30}">
          </ot-publisher>
      </ot-layout>
  </div>

  <script type="text/ng-template" id="home.html">
    <div class="container">
      <div class="col-md-3 col-sm-3"></div>
      <div class="col-md-6 col-sm-6">
        <div class="videoContainer">
          <p><a href="#" class="btn btn-success" id="start-call" ng-click="createVideo()">Start call</a></p>
          <div id="otEmbedContainer" ></div>
          <p><a href="#" class="btn btn-danger" id="end-call" ng-click="endSession()">End call</a></p>
        </div>

        <div id="publisher"></div>
        <div id="publisher1"></div>

        <div id="subscribers"></div>
        <div id="subscribers2"></div>
      </div>
      </div>
      <div class="col-md-3 col-sm-3"></div>
    </div>

  </script>
  <script type="text/ng-template" id="oneMore.html">
    other view
  </script>

</body>
</html>
