/*************************************/
/************** OVERALL **************/
/*************************************/
input:focus,
select:focus,
textarea:focus,
button:focus,
button:active,
.btn:focus,
.btn-default:focus,
.btn.active.focus,
label:focus,
label:active, {
  outline: none!important;
}


/*************************************/
/************** NAV BAR **************/
/*************************************/
.navbar-header img {
  height: 30px;
  width: 30px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 12px;
  transform: scale(1.7);
}


/*************************************/
/************ LOGIN VIEW *************/
/*************************************/

.loginContainer {
  padding-top: 100px;
}

/*************************************/
/************ VIDEO VEIW *************/
/*************************************/

.contentContainer {
  padding-top: 70px;
}

.btnGroup {
  background-color: rgba(0,0,0,0);
  padding: 40px;
  z-index: 1000;
  position: absolute;
  padding: 15px!important;
  /*display: none;*/
}

.btnGroup:hover {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  -webkit-transition: background .3s ease 0s;
}


ot-publisher {
  width:100% !important;
  overflow: hidden !important;
  position: absolute !important;
  top: 0px !important;
  height: 100% !important;
}

.OT_publisher, .OT_subscriber {
  position: absolute !important;
  /* min-width: 48px; */
  /* min-height: 48px; */
  /* height: 400px!important; */
  bottom: 0 !important;
  /* max-width: 400px; */
}

.OT_subscriber {
  width:100% !important;
  height: 100% !important;
}

.OT_mirrored .OT_root .OT_publisher .OT_fit-mode-cover {
  position: absolute !important;
}

ot-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
ot-subscriber{
  width:200px !important;
  height:200px !important;
}
.alert-container {
  position: absolute;
/*  left: 0;*/
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  position: relative;
  z-index: 999999;
  width: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 35px 8px 14px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  /*background-color: #fcf8e3;
  border: 1px solid #fbeed5;*/
  background-color:#7795f8;
  border: 1px solid #2e4057;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}
.alert-warning {
  /*background-color: #dff0d8;
  border-color: #468847;
  color: #468847;*/
}

.fadeout {
  /*
  -webkit-transition: opacity 0.30s linear;
  -moz-transition: opacity 0.30s linear;
  -o-transition: opacity 0.30s linear;
  transition: opacity 0.30s linear;
  -webkit-transition-delay: 5s
  -moz-transition-delay: 5s; 
  -o-transition:-delay:5s
  transition-delay: 5s
 */
  opacity: 0;
  animation: fadeOut 5s;
  -moz-animation: fadeOut 5s fowards; /*firefox*/ 
  -webkit-animation: fadeOut 5s fowards; /*safari and chrome*/
  -o-animation: fadeOut 5s forwards; /*Opera */
  animation-fill-mode: fowards;
  /*animation-timing-function: step-end;*/
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035)
  
}
@keyframes fadeOut{
  0% {
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@-webkit-keyframes fadeOut {
 0% {
    opacity:1;
  }
  100%{
    opacity:0;
  }

}
/*************************************/
/*********** SESSION FORM ************/
/*************************************/
.sessionForm {
  padding-top: 20px;
}

/*************************************/
/*********** PROFILE VIEW ************/
/*************************************/
.profile-heading {
  font-size: 24px;
  padding: 30px 0px;
}

.profImg {
  height: 87px;
  width: 87px;
  border-radius: 50%;
  margin-top: 15px;
}

.long-field {
  width: 100%;
  background: rgba(255,255,255,0.50);
  border: 2px solid #C8C8C8;
  border-radius: 8px;
  padding: 5px;
}

.update-label {
  font-size: 14px;
  color: #646464;
  padding-top: 15px;
}

#profileContainer {
  margin-left: 30px;
}

.notifications-bar{
  float:right;
  width:30%;
}

td {
  vertical-align: middle!important;
}
