/*************************************/
/************** OVERALL **************/
/*************************************/
input:focus,
select:focus,
textarea:focus,
button:focus,
button:active,
.btn:focus,
.btn-default:focus,
.btn.active.focus,
label:focus,
label:active {
  outline: none!important;
}

.header {
  letter-spacing: 1px;
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

@media (max-width: 1280px) {
    .navbar-default {
      width: 100%
    }
}

@media (min-width: 1281px) {
  .navbar-flex {
    width: 1140px;
    margin: 0 auto;
  }
}

/*************************************/
/************** NAV BAR **************/
/*************************************/
.navbar-default {
    float: none;
}

.navbar-header img {
  height: 30px;
  width: 30px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 12px;
  transform: scale(1.7);
}

/*************************************/
/*********** LANDING VIEW ************/
/*************************************/
#landingImg {
  margin-top: 50px;
}

/*************************************/
/************ LOGIN VIEW *************/
/*************************************/

/*************************************/
/************ VIDEO VEIW *************/
/*************************************/

.btnGroup {
  background-color: rgba(0,0,0,0);
  z-index: 1000;
  position: absolute;
  padding: 15px!important;
  left: -65px;
  top: 15px;
}

.btnGroup:hover {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  -webkit-transition: background .3s ease 0s;
}

.callBtn, .callBtn.active {
  background: #323232;
  border-color: #323232;
}

.startVideoBtn {
  border-right-color: #757575;
  border-color: #323232;
}

.btn.btn-default.callBtn.startVideoBtn.active {
  background: #323232;
  border-color: #323232;
  border-right-color: #757575;
}

.btn.btn-default.callBtn.endVideoBtn.active {
  background: #323232;
  border-color: #323232;
  border-left-color: #757575;
}

.hangup {
  width: 15px;
  height: 6px;
  transform: scale(1.5)
}

.endVideoBtn {
  border-left-color: #757575;
}

.callBtn:hover {
  background: #4c4c4c;
  border-color: #4c4c4c;
  -webkit-transition: background .3s ease 0s;
}

ot-publisher {
  width:100% !important;
  overflow: hidden !important;
  position: absolute !important;
  top: 0px !important;
  height: 100% !important;
}

.OT_publisher {
  position: absolute !important;
  bottom: 40px !important;
  left: 40px !important;
  border-radius: 5px !important;
}

.OT_widget-container {
  border-radius: 5px !important;
}

.OT_subscriber {
  position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;
  width:100% !important;
  height: 100% !important;
}

.OT_mirrored .OT_root .OT_publisher .OT_fit-mode-cover {
  position: absolute !important;
}

ot-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*ot-subscriber{
  width:200px !important;
  height:200px !important;
}*/

.callBtn {
  outline: none!important;
}

.callBtn:hover, .callBtn:active {
  outline: none!important;
}
.session_name{
 position: absolute;
 padding: 15px!important;
 left: -65px;
 top: -28px;
 z-index: 999998;
 color: #2e4057;
 font-size: 20px;
 font-family: 'Lato', sans-serif;
 font-weight: 600;	
}
.alert-container {
  position: absolute;
/*  left: 0;*/
  top: 19%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  position: relative;
  z-index: 999999;
  width: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 35px 8px 14px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  /*background-color: #fcf8e3;
  border: 1px solid #fbeed5;*/
  background-color:#7795f8;
  /*border: 1px solid #2e4057;*/
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

.fadeout {
  opacity: 0;
  animation: fadeOut 5s;
  -moz-animation: fadeOut 5s fowards; /*firefox*/
  -webkit-animation: fadeOut 5s fowards; /*safari and chrome*/
  -o-animation: fadeOut 5s forwards; /*Opera */
  animation-fill-mode: fowards;
  /*animation-timing-function: step-end;*/
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035)

}
@keyframes fadeOut{
  0% {
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@-webkit-keyframes fadeOut {
 0% {
    opacity:1;
  }
  100%{
    opacity:0;
  }

}
/*************************************/
/*********** SESSION FORM ************/
/*************************************/
.sessionForm {
  padding-top: 20px;
}

/*************************************/
/*********** PROFILE VIEW ************/
/*************************************/
.profile-heading {
  font-size: 24px;
  padding: 30px 0px;
}

.profImg {
  height: 87px;
  width: 87px;
  border-radius: 50%;
  margin-top: 15px;
}

.long-field {
  width: 100%;
  background: rgba(255,255,255,0.50);
  border: 2px solid #C8C8C8;
  border-radius: 8px;
  padding: 5px;
}

.update-label {
  font-size: 14px;
  color: #646464;
  padding-top: 15px;
}

#profileContainer {
  margin-left: 30px;
}


.notifications-bar{
  float:right;
  width:30%;
}

td {
  vertical-align: middle!important;
}

/*************************************/
/************** OVERALL **************/
/*************************************/
.white {
  color: #fff;
}
